body,html{
    font-family:"MV Boli", Times, serif;
    box-sizing: border-box;
    border: 0;
    height:100%;
    margin: 0;
    padding: 0;
    width: 100%;

    
}

#container{
    background-color: rebeccapurple;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("background.png");
    background-position: 50%;
    
}

#subtitle{
    width:500px;
    height:250px;
    border: 1px solid;
    color:white;
    background-color: yellow;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

#card{
    width:200px;
    height:350px;
    background-image: url("./cards/00-TheFool.jpg");
    border-radius: 20px;
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#detail{
    width:450px;
    height:350px;
    background-color: sandybrown;
    
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    display: none;
    border-radius: 20px;
}